.createGameContainer{
 
  

    .selectPlayerNumberButton, .createGameButton{
        min-width: 250px;
        margin-top: 40px;
    }

    .selectPlayerNumberButton{
        background-color: #4287f5;
    }

    .numberOfPlayers{
        color: #04f8eb;
    }

    .copyCodeButton{
        min-width: 0px !important;
    }
}