.gameContainer{
    &.notStarted{
        .otherPlayersWrapper, .playerPoints, .exchangeTrumpButton{
            display: none !important;
        }

        .playerControllsWrapper{
            justify-content: center;
        }
    }
}



.gameControllsWrapper, .secondPlayerWrapper, .otherPlayersWrapper, .currentCardsWrapper, .playerControllsWrapper, .playerCardsWrapper{
    width: 95vw;
    margin: 0 auto;
}


.gameControllsWrapper{
    height: 10%;
} 

.otherPlayersWrapper{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.morePlayers{
        justify-content: space-between;
    }
}

.currentCardsWrapper{
    height: 30%;
}

.secondPlayerWrapper{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerControllsWrapper{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    .hideButton{
        display: none !important;
    }

    .yourTurnText{
        display: none;
        color: white;

        &.showYourTurnText{
            display: block;
        }
    }

    .exchangeTrumpButton{
        border-radius: 50%;
        width: 50px !important;
        height: 50px !important;
        min-width: 0px !important;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
            width: 30px;
            height: 50px;
            font-size: 50px;
        }
    }

    .playerPoints{
        color: white;
        font-size: 30px;
    }
}
.playerCardsWrapper{
    height: 30%;
}

