h1, h2, h3, h4{
  color: white;
}

.centerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.verticalCenterContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.marginContainer{
  margin: 0 20px 0 20px;

  p{
    max-width: 500px;
  }
}

body{
  background-image: url("/assets/playground.jpg");
  background-repeat: repeat;
  background-size: 1000px;
  //https://www.freepik.com/free-vector/green-geometric-background-patricks-day-colors_5685390.htm#query=poker%20table%20background&position=6&from_view=keyword&track=ais
}

.fullheightContainer{
    height: 100vh;
    width: 100vw;
} 

.gaigelButton{
  min-width: 250px;
  margin: 20px 0 20px 0;

  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
  
.gaigelButton:hover,
.gaigelButton:focus {
  background-color: #F082AC;
}
  
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: red;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
