.trumpSymbol{
    height: 30px;
    width: 30px;
}

.trumpCard h3{
    margin: 0px !important;
}

.currentTrumpCard{
    display: flex;
    justify-content: center;
    align-items: center;

    h3{
        font-size: 30px;
        margin: 0px;
    }
}